/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Additional resets */
* {
  padding: 0;
}

ul {
	list-style-type: none;
}

a {
  text-decoration: none;
}

/* Custom properties */
:root {
  /* Colors */
  --blue: #0284c7;
  --grey: #e2e8f0;

  /* Gaps */
  --sidebar-gap: 60px;
  --sidebar-heading-gap: 18px;
  --sidebar-link-gap: 24px;

  /* padding */
  --sidebar-padding: 22px;

  /* Icons width */
  --icon-width: 24px;
  --user-icon-width: 48px;

  /* Other */
  --border-radius: 100px;
}

/* General Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}

h2 {
  font-size: 26px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 18px;
}

/* Icons */
.dashboard-icon {
  width: calc(var(--icon-width) * 2);
  height: calc(var(--icon-width) * 2);
}

.sidebar-link-icon,
.header-icon,
.project-icons > svg {
  width: var(--icon-width);
  height: var(--icon-width);
}

.header-icon {
  min-width: var(--icon-width);
  min-height: var(--icon-width);
}

.header-user-icon,
.trending-profile-img {
  width: var(--user-icon-width);
  height: var(--user-icon-width);
}

.header-sec2 .header-user-icon {
  width: calc(var(--user-icon-width) * 1.5);
  height: calc(var(--user-icon-width) * 1.5);
}

/* Sidebar */
.sidebar {
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: var(--sidebar-gap);

  padding: var(--sidebar-padding);
  background-color: var(--blue);
}

.sidebar-heading,
.sidebar-link a {
  color: #fff;
  font-weight: 800;
}

.sidebar-heading {
  display: flex;
  gap: calc(var(--sidebar-link-gap) / 2);
  align-items: center;
}

.sidebar-links {
  display: grid;
  gap: calc(var(--sidebar-gap) / 4);
  padding-left: 6px;
}

.sidebar-link {
  display: flex;
  gap: var(--sidebar-link-gap);
}

.sidebar-link a {
  font-size: 20px;
}

/* Header */
.header {
  padding: 22px 46px;

  display: grid;
  gap: 36px;  
}

.header-sec1,
.header-sec2 {
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.header-sec1 {
  grid-template-columns: 3fr 1fr;
}

.header-sec2 {
  grid-template-columns: 2fr 1fr;
}

.header-subsection {
  display: flex;
  align-items: center;
  gap: 22px;
}

input,
input:focus {
  border: none;
}

input {
  background-color: var(--grey);

  border-radius: var(--border-radius);
  height: 30px;
  flex-basis: 600px;
}

.header-sec2-text {
  font-weight: 800;
  font-size: 14px;
}

.header-btn {
  border: none;
  border-radius: var(--border-radius);
  padding: 8px; 
  width: 100px;

  background-color: var(--blue);
  color: #fff;
  font-weight: 800;
}

/* Main content */
.main-content {
  background-color: var(--grey);
  padding: 20px;

  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
}

.projects-section {
  grid-row: 1 / -1;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.project-icons {
  display: flex;
}


.trending-card {
  display: flex;
}